.select2-results__option > ul {
  display: none;
}

.select2-container--prestakit .select2-results > .select2-results__options {
	max-height: 500px !important;
}

.select2-results__group:hover { 
    background-color: #eceeef;
}